div.img-container {
  /* background-color: red; */
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

div.img-container > div {
  width: 49%;
  height: 250px;
  border-radius: 30px;
  background-color: aqua;
}
div.img-container > div > img {
  width: 100%;
  border-radius: 30px;
}
