div.ads-parent {
  width: 90%;
  height: 200px;
  display: flex;
  margin: 0 auto;
  gap: 20px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
div.ads-parent > img {
  width: 49%;
  height: 250px;
  border-radius: 35px;
  cursor: pointer;
}

