div.digiclub-container {
  width: 90%;
  height: 90px;
  margin: 10px auto;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  background: linear-gradient(76.02deg, #35a6c8 33.32%, #007295 71.55%),
    radial-gradient(21.29% 87.33% at 50% 50.67%, #7cf2f6 0, #35a6c8 100%);
}
div.digiclub-container > div > img {
  width: 120px;
  padding-top: 7px;
  padding-right: 20px;
}
div.digiclub-container > div:last-child {
  display: flex;
  gap: 0 10px;
  flex-direction: row-reverse;
}
div.digiclub-container > div:last-child > div {
  display: flex;
  width: 260px;
  background: #fff;
  height: 64px;
  overflow: hidden;
  align-items: center;
  padding-right: 15px;
}
div.digiclub-container > div:last-child > div:nth-child(1) {
  background-image: url("../Media/digiclub/awards.png");
  background-size: contain;
  background-repeat: no-repeat;
}
div.digiclub-container > div:last-child > div:nth-child(1) > span {
  font-size: 15px;
}
div.digiclub-container > div:last-child > div:nth-child(2) > span {
  font-size: 15px;
}
div.digiclub-container > div:last-child > div:nth-child(3) > span {
  font-size: 15px;
}
div.digiclub-container > div:last-child > div:nth-child(1) > span > i {
  color: #4bb4b8;
  font-size: 18px;
}
div.digiclub-container > div:last-child > div:nth-child(2) > span > i {
  color: #4bb4b8;
  font-size: 18px;
}
div.digiclub-container > div:last-child > div:nth-child(3) > span > i {
  color: #4bb4b8;
  font-size: 18px;
  vertical-align: -3px;
}
div.digiclub-container > div:last-child > div:nth-child(2) {
  background-image: url("../Media/digiclub/missions.png");
  background-size: contain;
  background-repeat: no-repeat;
}
div.digiclub-container > div:last-child > div:nth-child(3) {
  background-image: url("../Media/digiclub/wheel-spinner.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
div.digiclub-container > div:last-child > div > a > img {
  width: 140px;
}
